 <div class="slider">
  <ul class="slides">
    <li>
      <%= image_tag 'carousel1.jpg', class: "responsive-img" %>
      <!-- <div class="caption center-align">
        <h3 class="carousel-title">Tip or Die</h3>
      </div> -->
    </li>
    <li>
       <%= image_tag 'carousel2.jpg', class: "responsive-img" %>
      <!-- <div class="caption left-align">
        <h3 class="carousel-title">Tip or Die</h3>
      </div> -->
    </li>
    <li>
      <%= image_tag 'Carousel3.jpg', class: "responsive-img" %>
      <!-- <div class="caption right-align">
        <h3 class="carousel-title">Tip or Die</h3>
      </div> -->
    </li>
    <li>
      <%= image_tag 'carousel4.JPG', class: "responsive-img" %>
      <!-- <div class="caption center-align">
        <h3 class="carousel-title">Tip or Die</h3>
      </div> -->
    </li>
  </ul>
</div>