<div class="about-us-background">
<div class="container">
	<div class="row">
		<div class="col s4 m4">
			<%= image_tag 'about_us.jpg', class: "responsive-img about-us-image" %>
		</div>
		<div class="col s8 m8 center-align">
			<h2 class="about-title">Babe's Showgirls</h2>
			<p class="about-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque placerat vehicula dolor non dictum. Morbi nulla turpis, ultrices sed sodales malesuada, mattis id tortor. Ut elementum risus quis libero commodo lobortis. Curabitur et mollis leo.
			</p> 
			<p class="about-body">
			Donec ultricies posuere sem, id dictum magna tempor nec. Nunc eget magna cursus, aliquam neque non, ultricies odio. Fusce laoreet eros vitae dignissim malesuada. 
			</p>
		</div>
	</div>
</div>
</div>