<footer class="black page-footer">
  <div class="footer-copyright">
    <span class="footer-links"> © 2016 Tip or Die Copyright Text </span>
    <a class="grey-text text-lighten-4 right footer-links" href="#!">About Us</a>
  </div>
</footer>