<footer class="page-footer">
	<div class="container">
	  <div class="row contact-us-row">
	    <div class="col l12 s12">
				<span class="center-align">
					<p class="contact-us white-text">Sun.-Wed. | Thur.-Sat.</p>
					<p class="contact-us white-text"> 12am-6am | 11pm-8am</p><br>
					<p class="contact-us-body ">786 - 332 - 0033</p>
					<p class="contact-us-body ">1200 Babe Drive<br>Miami, FL 33131</p>
				</span>
			</div>
	  </div>
	</div>
  <div class="black footer-copyright">
    <span class="footer-links"> © 2016 Tip or Die Copyright Text </span>
    <a href="#"><i class="right footer-links grey-text text-lighten-1 small mdi mdi-facebook-box"></i></a>
    <a href="#"><i class="right footer-links grey-text text-lighten-1 small mdi mdi-twitter-box"></i></a>
    <a href="#"><i class="right footer-links grey-text text-lighten-1 small mdi mdi-instagram"></i></a>
    <a href="#"><i class="right footer-links grey-text text-lighten-1 small mdi mdi-pinterest-box"></i></a>
  </div>
</footer>