<footer class="black page-footer">
	<div class="container">
	  <div class="row contact-us-row">
	    <div class="col l12 s12">
				<span class="center-align">
					<h5 class="contact-us white-text">Contact Us:</h5>
					<p class="contact-us-body white-text">Sun-Wed: 12am-6am | Thur-Sat: 11pm-8am</p>
					
					<p class="contact-us-body white-text">XXX - XXX - XXXX</p>
					<p class="contact-us-body white-text">1200 Babe Drive<br>Miami, FL 33131</p>
				</span>
			</div>
	  </div>
	</div>
  <div class="footer-copyright">
    <span class="footer-links"> © 2016 Tip or Die Copyright Text </span>
    <a href="#"><i class="right footer-links grey-text text-lighten-1 small mdi mdi-facebook-box"></i></a>
    <a href="#"><i class="right footer-links grey-text text-lighten-1 small mdi mdi-twitter-box"></i></a>
    <a href="#"><i class="right footer-links grey-text text-lighten-1 small mdi mdi-instagram"></i></a>
    <a href="#"><i class="right footer-links grey-text text-lighten-1 small mdi mdi-pinterest-box"></i></a>
  </div>
</footer>