<div class="navbar-fixed">
	<nav class="black main-nav">
	  <div class="nav-wrapper">
	    <a href="/" class="brand-logo nav-links-left">Babe's</a>
	    <ul id="nav-mobile" class="right">
	      <li><a class="nav-links-right" href="/about">About Us</a></li>
	      <li><a class="nav-links-right" href="/photos">Photos</a></li>
	      <li><a class="nav-links-right" href="/events">Events</a></li>
	    </ul>
	  </div>
	</nav>
</div>